.botao {
    margin-top: 24px;
    padding: 16px 24px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--cor1);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.botao:hover {
    color: #95FFD4;
}