.campo-texto label {
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
}

.campo-texto input {
    background-color: var(--bg-geral);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.06);
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 18px;
    border-radius: 12px;
}

.campo-texto input::placeholder {
    font-style: italic;
}