.card-wrapper {
    position: relative;
}

.card {
    width: 280px;
    height: 320px;
    position: relative;
    overflow: hidden;
    background-color: var(--bg-card);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.card img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 40px;
    left: calc(50% - 60px);
    border-radius: 50%;
    border: 3px solid var(--bg-card);
    background-color: var(--bg-card);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.16);
}

.card .text-container {
    padding: 32px;
    padding-top: 60px;
    border-top: 100px solid;
}

.card h4 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: var(--cor1);
    font-size: 18px;
    font-weight: 600;
}

.card p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: var(--cor-texto);
}

.deletar {
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 2rem;
    color: white;
    padding: .1em;
    background-color: red;
    border-radius: 50%;
    z-index: 100;
    opacity: 0;
    transition: all .2s ease;
}

.deletar:hover {
    opacity: 1;
}

.favoritar {
    position: absolute;
    /* bottom: 12px;
    left: 0;
    right: 0; */
    top: 12px;
    left: 12px;
}
