@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
  /* cores */
  --cor1: #6278F7;
  --cor2: #95ffd4;
  --cor3: #f2f2f2;

  /* fontes */
  --font-texto: 'Montserrat', sans-serif;
  --font-titulo: 'Prata', serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-texto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
