@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    /* % CORES */
    --bg-geral: #ffffff;
    --bg-form: var(--cor3);
    --bg-card: #ffffff;
    --cor-texto: #000000;

    /* Cores principais */
    --cor1: #6278f7;
    --cor2: #95ffd4;
    --cor3: #f2f2f2;

    /* % FONTES */
    --fonte-titulo: 'Prata', serif;
    --fonte-texto: 'Montserrat', sans;
}

@media screen and (prefers-color-scheme: dark) {
  :root{
    --bg-geral: #2b2b2b;
    --bg-form: #202020;
    --bg-card: #3f3f3f;
    --cor-texto: #fafafa;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-geral);
  margin: 0;
  font-family: var(--fonte-texto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--cor-texto);
}

h1, h2 {
  font-family: var(--fonte-titulo);
}

.times h1 {
  color: var(--cor1);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0;
}

.times .linha-horizontal {
  width: 4rem;
  height: 0.25rem;
  flex-shrink: 0;
  background-color: var(--cor1);
  border: none;
  margin: 1rem auto 5rem;
  border-radius: 2px;
}

.color-input-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-geral);
  box-shadow: 0 0 5px 2px hsla(0,0%, 0%, .1);
}

.input-cor {
  width: 180%;
  height: 60px;
  clip-path: circle(14px at 50% 50%);
}